# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Rider
.idea/

# Publish output
publish/

# App settings nhạy cảm
appsettings.json
appsettings.Development.json

# Test results
TestResults/
*.trx

# Others
*.db
*.sqlite
*.pdb